@{
    ViewData["Title"] = "Правила сервиса";
}

<div class="container">
    <div class="col-md-6">
        <div class="mb-4">
            <h1>@ViewData["Title"]</h1>
        </div>

        <div class="mb-2">
            <h4>
                EmpAge - это сервис для поиска работы и сотрудников. Наш основной посыл -
                уход от предрассудков и стереотипного мышления,
                поэтому все вакансии и резюме создаются без указания пола, возраста и имени.
                Главное - навыки.
            </h4>
        </div>
        
        <div>
            <p>
                Пользуясь данным сервисом, вы соглашаетесь на предоставление
                своих персональных данных.
                Владельцы сервиса имеют право использовать ваши данные в коммерческих целях,
                а также передавать их третьим лицам без уведомления.
            </p>
        </div>
    </div>
</div>