<div class="container">
    <div class="row mt-4 text-center">
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="IndexApplicants">Список сосискателей</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="IndexEmployers">Список работодателей</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="" asp-controller="Vacancies" asp-action="Index">Список вакансий</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="" asp-controller="Summaries" asp-action="Index">Список резюме</a>
        </div>
    </div>
</div>